<!DOCTYPE html>
<br lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> Live Stream (Cluster)</title>
    <style>
        button {
            width: 100px;
            display:inline-block;
            padding-bottom: 10px;
            padding-top: 10px;
            margin: 0px 0px 5px 05px;
            border-radius:4px;
            border: 1px solid transparent;
            background-color: #5bc0de;
            border-color: #46b8da;
            color: white;
        }
        button[disabled] {
            background-color: #d9534f;
            border-color: #d43f3a;
        }

    </style>
    <script type="text/javascript" src="../js/broadway/Decoder.js"></script>
    <!--<script type="text/javascript" src="../js/broadway/YUVWebGLCanvas.js"></script>-->
    <script type="text/javascript" src="../js/broadway/YUVCanvas.js"></script>
    <script type="text/javascript" src="../js/broadway/Player.js"></script>

    <script type="text/javascript" src="../js/broadway/stream.js"></script>
</head>
<br>
<script type="text/javascript">
    window.onload = load;
    const UserAgent = window.navigator.userAgent.toLowerCase();
    const isInternet = checkIsIE();
    function checkIsIE() {
        var isIE = (UserAgent.indexOf('msie') != -1);
        if (isIE == false && window.navigator.appName == 'Netscape') {
            var re  = new RegExp("trident/.*rv:([0-9]{1,}[\.0-9]{0,})");  //for IE 11
            if (re.exec(UserAgent) != null)
                isIE = true;
        }
        return isIE;
    }
    function load() {
        var nodes = document.querySelectorAll('div.broadway');
//        for (var i = 0; i < nodes.length; i++) {
//            var broadway = new Broadway(nodes[i]);
////            broadway.decode()
//            // broadway.play();
//        };

        var player = createPlayer(nodes[0]); // 播放器
        var ws; // websocket連線
        var selectBtn;
        var decode = new Decoder();
        var st,group;

        player.onPictureDecoded = function (buffer, width, height, infos) {
//            console.log('onPictureDecoded',buffer.length, width, height, infos);
            endTime();
        };

        function createPlayer(node) {

            var worker = document.getElementById("worker").checked;
            var webgl = document.getElementById("webgl").checked;
            var reuseMemory = document.getElementById("reuseMemory").checked;
            console.log("worker:",worker);

            var player = new Player({
                useWorker: worker,
                webgl:webgl, // IE need close
                reuseMemory:reuseMemory,
                workerFile: "../js/broadway/Decoder.js"
                ,size: { width: 640, height: 300 }
            });

            node.appendChild(player.canvas);

            return player;
        };

        var toUint8Array = function(parStr){
            //console.log(parStr);
            var raw = window.atob(parStr);
            var rawLength = raw.length;
            var array = new Uint8Array(new ArrayBuffer(rawLength));

            var i;
            for(i = 0; i < rawLength; i++) {
                array[i] = raw.charCodeAt(i);
            }
            return array;
        };

        var liveList = ["live1","live2","live3","live4","live5","live6","live7"];

        for (var i = 0; i < liveList.length; i++) {
            var obj = liveList[i];
            var button = document.getElementById(obj);
            button.onclick = onClickHandle;
        }
        // stop stream
        var close = document.getElementById('close');
        close.onclick = function (e) {
            if (typeof ws != 'undefined' && ws != null) {
                console.log('ws close onClickHandle');
                ws.close();
                ws.removeEventListener("open", onCloseHandle);
                ws.removeEventListener("close", onOpenHandle);
                ws.removeEventListener("message", onMessageHandle);
                nodes[0].removeChild(player.canvas);
                player = null;
                player = createPlayer(nodes[0]);            }
        };


        function onClickHandle(e) {

            if (typeof selectBtn != 'undefined' && selectBtn != null) {
                selectBtn.disabled = false;
            }

            var btn = this;
            selectBtn = btn;
            btn.disabled = true;
            if (typeof ws != 'undefined' && ws != null)
            {
                console.log('ws close onClickHandle');
                ws.close();
//                var context = player.canvas.getContext('webgl');;
//                console.log(context);
//                context.clearColor(0.0, 0.0, 0.0, 1.0);
//                context.clear(context.COLOR_BUFFER_BIT);
                ws.removeEventListener("open", onCloseHandle);
                ws.removeEventListener("close", onOpenHandle);
                ws.removeEventListener("message", onMessageHandle);
                nodes[0].removeChild(player.canvas);
                player = null;
                player = createPlayer(nodes[0]);
            };

            liveStream(btn.value);
        }

        function createWebsocketConnect(namespace, H264Player, cb) {

            var quality = document.getElementById('quality').value;
            var wsURL = 'ws://' + location.host + '/video/'+ namespace +'/' + quality + '/' ;
            var ws2 = new WebSocket(wsURL,'app2');
            ws2.onopen = function (e) {
                
            };
            ws2.onclose = function (e) {
                console.log('ls close');
                ws2.close();
                ws2.removeEventListener("open", onCloseHandle);
                ws2.removeEventListener("close", onOpenHandle);
                ws2.removeEventListener("message", onMessageHandle);
                if (cb) {
                    cb("close");
                }
            };
            ws2.onmessage = function (evt) {
                var json = JSON.parse(evt.data);
                if (json.NetStreamEvent === "NetStreamData") {

                    var vList = String(json.data).split(',');

                    for (var i = 0; i < vList.length; i++) {

                        if(!isInternet) {
                            var bin = toUint8Array(vList[i]);
                            H264Player.decode(bin);
                        }
                        else
                            H264Player.decode(vList[i]); //IE Only

                    }


                }
            };

            return ws2;

        }


        function liveStream(namespace) {
            var quality = document.getElementById('quality').value;
            console.log(quality);
            var wsURL = 'ws://' + location.host + '/video/'+ namespace +'/' + quality + '/' ;
            ws = new WebSocket(wsURL,'app2');
            ws.onopen = onOpenHandle;
            ws.onclose = onCloseHandle;
            ws.onmessage = onMessageHandle;

            connts();
        };
        function onCloseHandle(evt) {
            console.log('websocket on disconnect.');
        };
        function onOpenHandle(evt){
            console.log('websocket on connected.');
//            ws.send("hi server");
//            ws.send(JSON.stringify({"NetStreamEvent":"getConnections"}));
        };
        function onMessageHandle(evt) {
//            console.log('data connected.',evt);
            var json = JSON.parse(evt.data);

            if (json.NetStreamEvent === "NetStreamData") {

                var vList = String(json.data).split(',');
//                console.log("vList:",vList.length);
                for (var i = 0; i < vList.length; i++) {

                    if(!isInternet) {
                        var bin = toUint8Array(vList[i]);
                        player.decode(bin);
                    }
                    else
                        player.decode(vList[i]); //IE Only
//                decode.decode(bin);
                    connecttd();
                    startTime();

                }


            }

        };

        function once(fn, context) {
            var result;

            return function () {
                if (fn) {
                    result = fn.apply(context || this, arguments);
                    fn = null;
                }

                return result;
            };
        };
        var connts = once(function () {
            st = new Date().getTime();
        });
        var connecttd = once(function () {
            var time = new Date().getTime() - st;
            console.log('Execution time:', time, 'ms');
            var nodes = document.querySelectorAll('div.timer');
            var p

                    = document.createElement('p');
            p.textContent = "(Connected)Execution time:" + time + "ms (" + time/1000 + ")";
            nodes[0].appendChild(p);
        });
        var startTime = once(function () {
           st = new Date().getTime();
            console.log('runing...');
        });
        var endTime = once(function () {
            var time = new Date().getTime() - st;
            console.log('(Decoder)Execution time:', time, 'ms');
            var nodes = document.querySelectorAll('div.timer');
            var p = document.createElement('p');
            p.textContent = "Execution time:" + time + "ms (" + time/1000 + " sec)";
            nodes[0].appendChild(p);
        });
        //壓測用
        function abtest(){
            return;
            var button = document.getElementById("abtesting");
            button.onclick = function (e) {
                var name = document.getElementById("videoName");
                var cunt = document.getElementById("runcount");
                console.log(name.value,cunt.value);
                group = [];
                for (var i = 0; i < parseInt(cunt.value); i++) {
                    console.log('start');
                    var wsURL = 'ws://' + location.host + '/video/' + name.value +"/video0";
                    var ws = new WebSocket(wsURL);
                    ws.onopen = function (evt) { };
                    ws.onclose = function (evt){
                        console.log('close:' + name.value);
                    };
                    ws.onmessage = function (evt) { };
                    group.push(ws);
                };

            };
        }

        abtest();

        document.getElementById("notSupported").hidden = ("WebSocket" in window);
        document.getElementById("isSupported").hidden = !("WebSocket" in window);
        var nodes2 = document.querySelectorAll('div.broadway2');
        var H264player = createPlayer(nodes2[0]);
        var ws2 = null;
        var sub = document.getElementById('subLive');

        sub.onclick = function (e) {
            addVideo2();
            sub.disabled = false;
            nodes2.disabled = true;
        };
        var close2 = document.getElementById('close2');
        close2.disabled = true;
        close2.onclick = function (e) {
            if (typeof ws2 != 'undefined' && ws2 != null) {
                console.log('ws close onClickHandle');
                ws2.close();
                sub.disabled = true;
                nodes2.disabled = false;
            }
        };

        function addVideo2() {

            var name = document.getElementById("videoName");

            ws2 = createWebsocketConnect(name.value,H264player,function (evt) {
                if (evt == 'close') {
                    nodes2[0].removeChild(H264player.canvas);
                    H264player = null;
                    delete H264player;
                    H264player = createPlayer(nodes2[0]);
                }
            });
        }

    };
</script>
    <div id="notSupported" height="130" style="position: relative;" hidden>
        <div style="display:inline-block;"><img height="32" src="../assets/error.png"/></div>

        <div style="display:inline-block;position: absolute;margin-top: 10px">Websocket not supported</div>
    </div>
    <div id="isSupported" height="130" style="position: relative;" hidden>
        <div style="display:inline-block;"><img height="32" src="../assets/check.png"/></div>

        <div style="display:inline-block;position: absolute;margin-top: 10px">Websocket is supported</div>
    </div>
    <div class="broadway" width="640" height="300" style=" display: block;" workers="false" render="true" webgl="auto"></div>
    </br>
    <p style="display: inline-block; width: 100%">
        <button id="live1" class="button" value="daabb" >BaccaratA</button>
        <button id="live2" value="daabc">BaccaratB</button>
        <button id="live3" value="daabd">BaccaratC</button>
        <button id="live4" value="daabg">BaccaratD</button>
        <button id="live5" value="daabh">BaccaratE</button>
        <button id="live6" value="daabdg">BaccaratI</button>
        <button id="live7" value="daabdh">BaccaratJ</button></br></p>
        <button id="close" value="close" style="background-color:#d43f3a;border-color:#d9534f;border-radius:20px;">STOP!!</button>
        <p>Quality:
            <select id="quality" style="width: 240px;height: 34px; overflow: hidden; border: 1px solid #ccc;">
                <option selected="selected">video0</option>
                <option>videosd</option>
                <option>videohd</option>
            </select>
        </p>
        <input id="worker" type="checkbox" name="worker" value="1" checked>Use Worker?</input>
        <input id="webgl" type="checkbox" name="webgl" value="1" checked>Use webgl?</input>
        <input id="reuseMemory" type="checkbox" name="reuseMemory" value="1" checked>Use reuse Memory?</input>
    </div>
    <p>----- 分隔線以下測試用 -----</p>
    <!--<p>Test count: <input id="runcount" value="1"/></p>-->
    <div class="broadway2" style=" display: block;" workers="false" render="true" webgl="auto"></div>
    <p>URL: <input id="videoName" value="daabc" style="width: 300px"/></p>
<!--<p><button id="abtesting">test</button></p>-->
    <p style="display: inline-block; width: 100%">
        <button id="subLive">add video</button>
        <button id="close2"><-- STOP!!</button>

    </p>
    <div class="timer"></div>
</body>
</html>