<!DOCTYPE html>
<br lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> Live Stream (Cluster)</title>
    <style>
        button {
            width: 100px;
            display:inline-block;
            padding-bottom: 10px;
            padding-top: 10px;
            margin: 0px 0px 5px 05px;
            border-radius:4px;
            border: 1px solid transparent;
            background-color: #5bc0de;
            border-color: #46b8da;
            color: white;
        }
        button[disabled] {
            background-color: #d9534f;
            border-color: #d43f3a;
        }

    </style>
    <script type="text/javascript" src="../js/broadway/Decoder.js"></script>
    <!--<script type="text/javascript" src="../js/broadway/YUVWebGLCanvas.js"></script>-->
    <script type="text/javascript" src="../js/broadway/Player.js"></script>
    <script type="text/javascript" src="../js/broadway/YUVCanvas.js"></script>

    <script type="text/javascript" src="../js/broadway/stream.js"></script>
</head>
<br>
<script type="text/javascript">
    window.onload = load;
    function load() {
        var nodes = document.querySelectorAll('div.broadway');


        const customerData = [
            { ssn: "444-44-4444", name: "Bill", age: 35, email: "bill@company.com" },
            { ssn: "555-55-5555", name: "Donna", age: 32, email: "donna@home.org" }
        ];

        if(!window.indexedDB) {
            window.alert("not support indexedDB!");
        }else
        {
            console.log('is support indexedDB');
        }
        var db, dbVersion = 5;
        var req = window.indexedDB.open("indxDB", dbVersion);
        req.onerror = function (evt) {
            console.log('request.errorCode', evt);
        };
        req.onsuccess = function(evt) {
            // Do something with request.result!
            console.log('Do something with request.result!', evt);
            db = evt.target.result;
            console.log(db);
        };
        //(0)dbVersion +1 -> onupgradeneeded -> refresh -> onsuccess
        req.onupgradeneeded = function(event) {
            var db = event.target.result;
            console.log('running onupgradeneeded');
            if (!db.objectStoreNames.contains("firstOS")) {
                db.createObjectStore("firstOS");
                console.log('do firstOS');
            }
        }

//        for (var i = 0; i < nodes.length; i++) {
//            var broadway = new Broadway(nodes[i]);
////            broadway.decode()
//            // broadway.play();
//        };
//        var rawFile = new XMLHttpRequest();
//        rawFile.open("GET", '../js/broadway/Decoder.js', false);
//        rawFile.onreadystatechange = function ()
//        {
//            if(rawFile.readyState === 4)
//            {
//                if(rawFile.status === 200 || rawFile.status == 0)
//                {
//                    var allText = rawFile.responseText;
//                    alert(allText);
//                }
//            }
//        }
//        rawFile.send(null);

        var player = createPlayer(nodes[0]); // 播放器
        var ws; // websocket連線
        var selectBtn;
        var decode = new Decoder();
        var st,group;

        player.onPictureDecoded = function (buffer, width, height, infos) {
//            console.log('onPictureDecoded',buffer.length, width, height, infos);
            endTime();
        };

        function createPlayer(node) {
            var player = new Player({
                useWorker: false,
                workerFile: "../js/broadway/Decoder.js"
                ,size: { width: 640, height: 300 }
            });

            node.appendChild(player.canvas);

            return player;
        };

        var toUint8Array = function(parStr){
            //console.log(parStr);
            var raw = window.atob(parStr);
            var rawLength = raw.length;
            var array = new Uint8Array(new ArrayBuffer(rawLength));

            var i;
            for(i = 0; i < rawLength; i++) {
                array[i] = raw.charCodeAt(i);
            }
            return array;
        };

        var liveList = ["live1","live2"];

        for (var i = 0; i < liveList.length; i++) {
            var obj = liveList[i];
            var button = document.getElementById(obj);
            if (i === 0) {
                button.onclick = onClickHandle;
            }else {
                button.onclick = onClickHandleStop;
            }
        }
        function onClickHandleStop(e) {
            if (typeof ws != 'undefined' && ws != null)
            {
                console.log('ws close onClickHandle');
                ws.close();
//                var context = player.canvas.getContext('webgl');;
//                console.log(context);
//                context.clearColor(0.0, 0.0, 0.0, 1.0);
//                context.clear(context.COLOR_BUFFER_BIT);
                ws.removeEventListener("open", onCloseHandle);
                ws.removeEventListener("close", onOpenHandle);
                ws.removeEventListener("message", onMessageHandle);
                nodes[0].removeChild(player.canvas);
                player = null;
                player = createPlayer(nodes[0]);
            };
        }
        function onClickHandle(e) {

            if (typeof selectBtn != 'undefined' && selectBtn != null) {
//                selectBtn.disabled = false;
            }

            var btn = this;
            selectBtn = btn;
            btn.disabled = true;
            if (typeof ws != 'undefined' && ws != null)
            {
                console.log('ws close onClickHandle');
                ws.close();
//                var context = player.canvas.getContext('webgl');;
//                console.log(context);
//                context.clearColor(0.0, 0.0, 0.0, 1.0);
//                context.clear(context.COLOR_BUFFER_BIT);
                ws.removeEventListener("open", onCloseHandle);
                ws.removeEventListener("close", onOpenHandle);
                ws.removeEventListener("message", onMessageHandle);
                nodes[0].removeChild(player.canvas);
                player = null;
                player = createPlayer(nodes[0]);
            };

            liveStream(document.getElementById('live').value);
        }

        function liveStream(namespace) {
            var select = document.getElementById('quality');
            var quality = select.value;
            var wsURL = 'ws://' + '127.0.0.1:9527' + '/video/'+ namespace +'/' + quality + '/';
            ws = new WebSocket(wsURL);
            ws.onopen = onOpenHandle;
            ws.onclose = onCloseHandle;
            ws.onmessage = onMessageHandle;

            connts();
        };
        function onCloseHandle(evt) {
            console.log('websocket on disconnect.');
        };
        function onOpenHandle(evt){
            console.log('websocket on connected.');
            ws.send("hi server");
        };
        function onMessageHandle(evt) {
//            console.log('data connected.',evt);
            var json = JSON.parse(evt.data);

            if (json.NetStreamEvent === "NetStreamData") {
                var bin = toUint8Array(json.data);
                player.decode(bin);
//                decode.decode(bin);
                connecttd();
                startTime();
            }

        };

        function once(fn, context) {
            var result;

            return function () {
                if (fn) {
                    result = fn.apply(context || this, arguments);
                    fn = null;
                }

                return result;
            };
        };
        var connts = once(function () {
            st = new Date().getTime();
        });
        var connecttd = once(function () {
            var time = new Date().getTime() - st;
            console.log('Execution time:', time, 'ms');
            var nodes = document.querySelectorAll('div.timer');
            var p = document.createElement('p');
            p.textContent = "(Connected)Execution time:" + time + "ms (" + time/1000 + ")";
            nodes[0].appendChild(p);
        });
        var startTime = once(function () {
           st = new Date().getTime();
            console.log('runing...');
        });
        var endTime = once(function () {
            var time = new Date().getTime() - st;
            console.log('(Decoder)Execution time:', time, 'ms');
            var nodes = document.querySelectorAll('div.timer');
            var p = document.createElement('p');
            p.textContent = "Execution time:" + time + "ms (" + time/1000 + " sec)";
            nodes[0].appendChild(p);
        });
        //壓測用
        function abtest(){
            var button = document.getElementById("abtesting");
            button.onclick = function (e) {
                var name = document.getElementById("videoName");
                var cunt = document.getElementById("runcount");
                console.log(name.value,cunt.value);
                group = [];
                for (var i = 0; i < parseInt(cunt.value); i++) {
                    console.log('start');
                    var wsURL = 'ws://' + location.host + '/video/' + name.value +"/video0";
                    var ws = new WebSocket(wsURL);
                    ws.onopen = function (evt) { };
                    ws.onclose = function (evt){
                        console.log('close:' + name.value);
                    };
                    ws.onmessage = function (evt) { };
                    group.push(ws);
                };

            };
        }

        //video list start
        function changeLiveStream() {

            var select = document.getElementById('quality');
            var u_select_live = document.getElementById('live');
            console.log('changeLiveStream',select.length,u_select_live.value);
            if(select.length <= 2 && (u_select_live.value === 'daacb' || u_select_live.value === 'daagb')) {
                var option = document.createElement("option");
                option.text = "video2";
                select.add(option);
            }else if (select.length > 2)
            {
                select.remove(2);
            }
        }

        document.getElementById('live').onchange = changeLiveStream;

        //video list ended

        abtest();

        document.getElementById("notSupported").hidden = ("WebSocket" in window);
        document.getElementById("isSupported").hidden = !("WebSocket" in window);

    };
</script>
    <div id="notSupported" height="130" style="position: relative;" hidden>
        <div style="display:inline-block;"><img height="32" src="../assets/error.png"/></div>

        <div style="display:inline-block;position: absolute;margin-top: 10px">Websocket not supported</div>
    </div>
    <div id="isSupported" height="130" style="position: relative;" hidden>
        <div style="display:inline-block;"><img height="32" src="../assets/check.png"/></div>

        <div style="display:inline-block;position: absolute;margin-top: 10px">Websocket is supported</div>
    </div>
    <div class="broadway" width="640" height="300" style=" display: block;" workers="false" render="true" webgl="auto"></div>
    </br>
    <p style="display: inline-block; width: 100%">

        <button id="live1" class="button" >start</button>
        <button id="live2" class="button" >stop</button>
        <p>
            Stream:
            <select id="live" style="width: 240px;height: 34px; overflow: hidden; border: 1px solid #ccc;">
                <option value="daabb" selected="selected">Baccarat A</option>
                <option value="daabc">Baccarat B</option>
                <option value="daabd">Baccarat C</option>
                <option value="daabg">Baccarat D</option>
                <option value="daabh">Baccarat E</option>
                <option value="daabdg">Baccarat I</option>
                <option value="daadgh">Baccarat J</option>
                <option value="daadb">DragonTiger</option>
                <option value="daacb">Mahjong</option>
                <option value="daaib">Sicbo</option>
                <option value="daahb">Roulette</option>
                <option value="daagb">Paigow</option>
                <option value="dabab">Texas</option>
                <option value="dabbb">Sedie</option>
                <option value="daafb">3 Face</option>
                <option value="dabcb">Niu</option>
                <option value="dabfb">FanTan</option>
                <option value="dabeb">blackJack</option>
            </select>
            Quality:
            <select id="quality" style="width: 240px;height: 34px; overflow: hidden; border: 1px solid #ccc;">
                <option selected="selected">video0</option>
                <option>video1</option>
                <!--<option>video2</option>-->
                <!--<option>videosd</option>-->
                <!--<option>videohd</option>-->
            </select>

        </p>
    </div>
    <p>----- 分隔線以下測試用 -----</p>
    <p>Test count: <input id="runcount" value="1"/></p>
    <p>URL: <input id="videoName" value="daabc" style="width: 300px"/></p>
    <p><button id="abtesting">test</button></p>

    <div class="timer"></div>
</body>
</html>